name: CI
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build and run
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build
        run: |
          make build

      - name: Run
        run: |
          ./wscat wss://echo.websocket.events
